.customer-table {

    .header {
      min-height: 64px;
      padding: 8px 24px 0;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      min-width: 600px;
      overflow: auto;
    }
  
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }

    .mat-header-cell.mat-sort-header-sorted {
      color: black;
    }
  }